<app-header></app-header>

<div class="inner-wrapper">
    <!-- start: sidebar -->
    <aside id="sidebar-left" class="sidebar-left">

        <div class="sidebar-header">
            <div class="sidebar-title">
                Navigation
            </div>
            <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html"
                data-fire-event="sidebar-left-toggle">
                <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
            </div>
        </div>

        <app-left-sidebar></app-left-sidebar>

    </aside>
    <!-- end: sidebar -->

    <app-main-content></app-main-content>
</div>

<app-right-sidebar></app-right-sidebar>

<router-outlet></router-outlet>
